<footer class="ae-container-fluid rk-footer ">
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
      <ul class="rk-menu rk-footer-menu">
        <li class="rk-menu__item"><a routerLink="nosotros" class="rk-menu__link">Contáctenos</a>
        </li>
        <li class="rk-menu__item"><a routerLink="home" class="rk-menu__link">Documentación</a>
      </ul>
      <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{anio}} Área de Desarrollo Tecnológico </span>Todos los derechos reservados.</p>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center">
      <a  (click)="GoFacebook(1)"  class="rk-social-btn " style="cursor:pointer;">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
        </svg>
      </a>
      <a href="{{_infoPersonal.info.twitter}}" class="rk-social-btn " style="cursor:pointer;">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
        </svg>
      </a>
      <a (click)="GoFacebook(3)"  class="rk-social-btn " style="cursor:pointer;">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
        </svg>
      </a>
      <a (click)="GoFacebook(4)"  class="rk-social-btn " style="cursor:pointer;">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-tumblr"></use>
        </svg>
      </a>
      </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
      <p class="rk-footer__text rk-footer__contact ">
        <span class="ae-u-bold">Correo: </span>
        <span class="ae-u-bolder"> 
          <a href="mailTo: {{_infoPersonal.info.correo}}" class="rk-dark-color ">{{_infoPersonal.info.correo}} </a>
        </span>
      </p>
    </div>
  </div>
</footer>